/* 600px
768px
900px
1024px
1200px */
*{
    padding: 0%;
    margin: 0%;
}

header{
    background-image: url(../image/hero-bg.jpg);
    min-height: 95vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    overflow: hidden;
}
.header-text{
   margin-top: 250px;
   margin-left: 160px;
}
.header-text h4{
    font-size: 60px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}
.header-text h1{
    font-size: 90px;
    color: #fff;
    font-family: 'Archivo', sans-serif;
    font-weight: bold;
    font-display: bold;
}
.header-rule {
    margin-top: 30px;
    min-height: 10px;
    width: 40vw;
    background-color: #fff;
}
.brush svg {
    width: 7%;
    margin-top: 3%;
    color: #fff;
}

.service{
    background-color: rgb(242, 242, 242);
   min-height: 50vh;
   overflow: hidden;

}
.service-text{
    margin-top: 100px;
    text-align: center;
}
.service-text h1{
    font-family: 'Open Sans', sans-serif;
    margin-top: 1%;
    font-size: 50px;
    font-weight: 600;
}
.service-text h5{
  color: rgb(153,153,176);
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.service-text button{
    margin-top: 2%;
    padding: 15px 42px;
    background-color: rgba(209, 22, 30);
    border: none;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}
.service-text p{
    width: 50%;
    margin-top: 2%;
margin-left: 25%;
line-height: 25px;
font-size: 20px;
color: rgb(17,17,17);
font-family: 'Open Sans', sans-serif;
}

.help {
    min-height: 90vh;
    display: flex;
  
}
.help-photo p{
    width: 60%;
    margin-left: 70px;
    margin-top: 50px;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600px;
}
.help-photo {
    margin-top: 60px;
    margin-left: 10%;
}
.help-image{
    margin-top: 100px;
    margin-right: 12.5%;

}
.help-image img{
    margin-top:50px;
}
.help-image h1{
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
}
.help-image p{
    margin-top: 30px;
    font-size: 30px;
    color: rgb(231,26,35);
    font-family: 'Roboto', sans-serif;
    font-weight: 600px;
}
.quality{
    background-color: rgb(220,219,224);
min-height: 30vh; 
overflow: hidden;
padding-left: 200px;  
display: flex;
}
.quality img {
    width: 500px;    
}
.quality-rule{
    width: 85%;
min-height: 10px;
background-color: rgb(231,26,35);
margin-top: 30px;
}

.quality-text{
    margin-top: 130px;
    margin-left: 130px;
}
.quality-text h1{
    font-size: 72px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    
}
.quality-text p{
    margin-top: 30px;
    font-size: 23px;
    width: 75%;
    line-height: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.quality-text button {
    padding: 15px 25px;
    margin-top: 30px;
    border: none;
    color: #fff;
    background-color: rgb(231,26,35);
}
.painting {
    min-height: 50vh;
}
.painting h2{
    margin-left: 220px;
    font-size: 60px;
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
font-weight: 500;
text-decoration: none solid rgb(17, 17, 17);
}
.icons {
    display: flex;
  margin-top: 45px;
    
}
.icons-painting {
margin-left: 250px;
}
.icons p{
    width: 50%;
}
.About{
    min-height: 70vh;
    background-color: rgb(16,78,146);
}
.about-us {
    display: flex;
    flex-wrap: nowrap;
   
}
.frg{
    width: 42%;
}
.rg{
    width: 40%;
}
.billi{
    width: 42%;
}
.img-size{
    width: 42%;
}
.about-img {
    margin-top: 100px;
    margin-left: 200px;
   padding-left: 3%;
   padding-right: 3%;
}
.about-text{
    margin-top: 200px;
    margin-left: 280px;
    width: 20%;
    color: #fff;
}
.about-text h2{
    font-size: 20px;
}
.about-text h1{
    font-size: 82px;
}
.get{
    min-height: 50vh;
    background-color: rgb(255,255,255);
}
.real {
    text-align: center;
}
.real h1{
    font-size: 35px;
    width: 40%;
    margin-left: 30%;
    margin-top: 10%;
}
.real p{
    font-size: 25px;
    width: 30%;
    margin-left: 35%;
    line-height: 35px;
    margin-top: 40px;
}
.real button{
    
    margin-right: 20px;
    margin-top: 30px;
    
}
.now {
    background-color: rgb(231,26,35);
    border: none;
    padding: 12px 25px;
}
.call{
    padding: 12px 25px;
}
.foot{
    min-height: 30vh;
    background-color: rgb(51,51,51);
}
.foot p{
text-align: center;
    color: #fff;
   padding-top: 70px;
   
}

@media (max-width: 1342px) {
    .real h1{
        margin-left: 30%;
    }
    .real p{
        margin-left: 35%;
    }
    .about-text {
        margin-left: 13%;
    }
    .rg{
        width: 45%;
    }
    .about-img{
        padding-left: 2%;
        padding-right: 2%;
    }
    .about-text h2{
        font-size: 17px;
    }
    .about-text h1{
        font-size: 70px;
    }
}
@media (max-width: 1280px) {
    .about-text{
        margin-left: 7%;
    }
    .quality-image{
width: 100%;
margin-left: 5%;
margin-top: 10%;
    }
    .quality-text{
        margin-left: 45%;
    }
    .quality-text h1{
        font-size: 50px;
    }
    .quality-rule{
        width: 65%;
    }
    .quality-text p{
        font-size: 25px;
    }
}
@media (max-width: 1200px) {
    .help-photo{
        margin-left: 6%;
    }
    .help-image{
        margin-left: 6%;
    }
    
    .real h1{
        width: 44%;
        margin-left: 28%;
    }
}
@media (max-width: 1136px){
    .frg{
width: 45%;
    }
    .rg{
width: 40%;
    }
    .billi{
width: 40%;
    }
    .img-size{
width: 40%;
    }
    .about-text h1{
        font-size: 47px;
    }
    .help-image{
        margin-left: 4%;
    }
    .help-photo{
        margin-left: 3%;
    }
}

@media (max-width: 1079px) {
    header {
        background-position: 105.49% 50%;
        min-height: 90%;
        padding-bottom: 20%;
    }
    .help{
        flex-direction: column;
    }
    .help-photo {
        margin-left: 25%;
    }
    .help-photo p{
        margin-left: 2%;
    }
    .help-image{
        margin-left: 25%;
    }
    .about-us{
        flex-direction: column;
    }
  .about-text{
      margin-left: 25%;
      width: 70%;
  }
  .about-text h2{
      font-size: 25px;
  }
  .about-text h1{
      font-size: 72px;
  }
  .service{
      min-height: 55vh;
  }
  .service-text {
      margin-top: 15%;
      line-height: 215%;
  }
  .service-text h1{
      font-size: 45px;
  }
  .service-text p{
      font-size: 25px;
  }
}

@media (max-width: 768px) {
    header {
        background-position: 105.49% 50%;
        min-height: 90%;
        padding-bottom: 20%;
    }
    .header-text {
        margin-left: 10%;
    }
.header-text h4{
    font-size: 250%;
}
.header-text h1{
font-size: 400%;
}
.header-rule {
    width: 55%;
}
    .help {
        flex-direction: column;
    }
    .help-photo img{
        width: 80%;

    }
    /* .help-photo p{
        width: 70%;
        margin-left: -7%;
    } */

    .help-photo{
        margin-left: 19%;
    }
    .help-image{
        margin-left: 19%;
    }

    
    .help-image img{
        width: 90%;
       
    }
    .quality{
        flex-direction: column;
        padding-bottom: 10%;
    }
    .quality img{
        width: 100%;
        margin-left: -22%;
    }
    .quality-text{
        margin-left: 1%;
    }
    .icons {
       flex-direction: column; 
    }
    .icons-electrical {
        margin-left: 34%;
    }
    .icons-repair {
        margin-left: 34%;
    }
    .icons-painting{
        margin-left: 34%;
    }
    .about-us {
        flex-direction: column;
      
    }
    .frg{
        width: 100%;
        margin-left: -15%;
    }
    .billi, .img-size {
        width: 100%;
        margin-left: -15%;
    }
    .rg{
        width: 100%;
        margin-left: -15%;
    }
    .about-text{
        margin-left: 27%;
    }
    .real h1{
        margin-left: 25%;
        width: 50%;
    }
    .real p{
        margin-left: 25%;
        width: 50%;
    }
  
}

@media (max-width: 600px) {
    header{
        background-position: 81.49% 50%;
        min-height: 90%;
 
    }
    .header-text{
        margin-top: 55%;
        margin-left: 20%;
        
    }
    .header-text h4{
        font-size: 35px;
    }
    .header-text h1{
        font-size: 60px;
        
    }
    .header-rule{
        width: 70%;
    }
    .service{
        min-height: 65vh;
    }
    .service-text h1{
        margin-top: 6%;
        font-size: 35px;
    }
    .service-text p{
        margin-top: 6%;
    }
    .service-text button{
        margin-top: 6%;
    }
    .about-text h2{
        font-size: 25px;
    }
    .about-text h1{
        font-size: 37px;
    }
    .about-text {
        margin-left: 20%;
    }
    .about-img{
        margin-left: 22%;
    }
    
    .quality-text {
        margin-left: -20%;
    }
    .quality-text h1{
        font-size: 250%;
    }
    .painting h2{
        margin-left: 20%;
    }
}
@media (max-width: 480px) {
   
   
    header{
        background-position: 81.49% 50%;
    min-height: 90%;
    }
    .header-text{
        margin-left: 55px;
        margin-top: 450px;
        padding-bottom: 35%;
    }
    .header-rule{
        width: 70vw;
    }
    .header-text h4{
        font-size: 26px;
    }
    .header-text h1{
        font-size: 47px;
        font-weight: 700;        
    }
    .service {
        min-height: 60vh;
    }
    .service-text {
        margin-top: 13%;
    }
    .service-text p{
        width: 60%;
     margin-left: 20%;
     font-size: 15px;
    }
    .service-text h1{
        font-size: 25px;
        font-weight: 700;
    }
    .help{
        flex-direction: column;
      
    }
    .help-photo {
        margin-left: 10%;
    }
    .help-photo img {
        width: 90%;
       
    }
    .help-photo p{
        width: 90%;
        
    }
    .help-image{
        margin-left: 15%;
    }
    .help-image img{
        width: 100%;
       
    }
    .help-image h1{
        
        width: 100%;
        font-size: 20px;
    }
    .help-image p{
        font-size: 19px;
        width: 100%;
    
    }
    .quality{
        flex-direction: column;
        padding-left: 0%;
    }
    .quality img{
        width: 65%;
        margin-left: 17%;
    }
    .quality-rule {
      width: 70%;
      min-height: 1.5vh;
    }
    .quality-text{
        margin-left: 30px;
    }
    .quality-text h1{
        font-size: 37px;
    }
    .quality-text p{
        font-size: 20px;
        width: 80%;
    }
    .quality-text button{
        margin-bottom: 30px;
    }
    .painting h2{
        margin-left: 25%;
font-size: 40px;    
    }
.icons-painting{
    margin-left: 34%;
}
.icons{
    flex-direction: column;
}
.about-us{
    flex-direction: column;
}
.about-img {
    margin-left: 24%;
}
.about-text{
    width: 30%;
}
.about-text h1{
    font-size: 55px;
}
.about-text h2{
    font-size: 15px;
}
.real p{
    margin-left: 15%;
    width: 70%;
    font-size: 20px;
}
.real h1{
    width: 70%;
    font-size: 30px;
    margin-left: 15%;
}
.book{
    margin-left: 30%;
}
.real button{
    display: flex;
}
.call{
    padding: 12px 35px;
}
.get{
    margin-bottom: 30px;
}
.foot p{
    width: 70%;
    margin-left: 15%;
}
} 


/* .real h1{
  
   width: 70%;
    font-size: 30px;
} */
/* .real button{
    display: flex;

}
.call{
    padding: 12px 35px
}
.get{
    margin-bottom: 30px;
}

.call{
    padding: 12px 35px;
}
.foot p {
    width: 70%;
    margin-left: 15%;
} */











/* body{
    overflow-x: hidden;
}
  header {
      background-position: 81.49% 50%;
      min-height: 90%;

  }
  .header-text{
      margin-left: 55px;
      margin-top: 450px;
      padding-bottom: 35%;
  }
  .header-rule{
      width: 70vw;
  }
  .header-text h4{
      font-size: 26px;
  }
  .header-text h1{
      font-size: 47px;
      font-weight: 700;
  }
  .service {
      min-height: 60vh;
  }
  .service-text {
      margin-top: 13%;
  }
  .service-text p{
      width: 60%;
   margin-left: 20%;
   font-size: 15px;
  }
  .service-text h1{
      font-size: 25px;
      font-weight: 700;
  }
  .help{
      flex-direction: column;
      overflow: hidden;
  }
  .help-photo {
      margin-left: 10%;
  }
  .help-photo img {
      width: 90%;
     
  }
  .help-photo p{
      width: 90%;
      
  }
  .help-image{
      margin-left: 15%;
  }
  .help-image img{
      width: 100%;
     
  }
  .help-image h1{
      
      width: 100%;
      font-size: 20px;
  }
  .help-image p{
      font-size: 19px;
      width: 100%;
  
  }
  .quality{
      flex-direction: column;
      padding-left: 0%;
  }
  .quality img{
      width: 65%;
      margin-left: 17%;
  }
  .quality-rule {
    width: 70%;
    min-height: 1.5vh;
  }
  .quality-text{
      margin-left: 30px;
  }
  .quality-text h1{
      font-size: 37px;
  }
  .quality-text p{
      font-size: 20px;
      width: 80%;
  }
  .quality-text button{
      margin-bottom: 30px;
  }
  .painting h2{
      margin-left: 25%;
      font-size: 40px;
  }
  .icons-painting {
      margin-left: 34%;
  }
  .icons{
      flex-direction: column;
  }
  .about-us {
      flex-direction: column;
  }
  .about-img {
      margin-left: 24%;
  }
  .about-text {
      
      width: 30%;
  }
  .about-text h1{
      font-size: 55px;
  }
  .about-text h2{
      font-size: 15px;
  }
 
  
  }.real p{
      margin-left: 15%;
      width: 70%;
      font-size: 20px;
  }
  /* .real h1{
    
     width: 70%;
      font-size: 30px;
  } */
  /* .real button{
      display: flex;

  }
  .call{
      padding: 12px 35px
  }
  .get{
      margin-bottom: 30px;
  }
  
  .call{
      padding: 12px 35px;
  }
  .foot p {
      width: 70%;
      margin-left: 15%;
  } */

 













